services:
  discord-bot:
    build:
      context: .
      dockerfile: Dockerfile
    # НЕ указываем image, чтобы Compose не лез за ним до сборки
    env_file:
      - ./token.env
    volumes:
      - ./token.env:/app/token.env:ro
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
